.header {
    padding: 64px;
    direction: rtl;
    text-align: right;
}
.header input {
	margin-left: 31px;
}
.header label {
	padding-left: 10px;
}
fieldset, legend {
   all: revert;
}
.reset {
    all: revert;
}