{% extends "base.html" %}
{% load persian %}

{% load humanize %}
{% block title %}جزئیات{% endblock %}

{% block content %}
    <div class="container">
        <div class="row float-right">
            <div class="header mt-xxl-5">
                <table class="table table-hover text-right" dir="rtl">
                    <tr>
                        <th class="text-center" colspan="2">در یک نگاه</th>
                    </tr>
                    <tr>
                        <th>نام و نام خانوادگی:</th>
                        <td>{{ context.member }}</td>
                    </tr>
                    <tr>
                        <th>وام دریافتی:</th>
                        <td>555 77 854</td>
                    </tr>
                    <tr>
                        <th>مبلغ هر قسط:</th>
                        <td>555 77 855</td>
                    </tr>
                    <tr>
                        <th>اقساط باقیمانده:</th>
                        <td>555 77 855</td>
                    </tr>
                    <tr>
                        <th>سرمایه کل:</th>
                        <td>{{ context.total_capital|intcomma }}</td>
                    </tr>
                    <tr>
                        <th>تاریخ دریافت قسط:</th>
                        <td>555 77 855</td>
                    </tr>
                    <tr>
                        <th>میانگین یک سال سرمایه:</th>
                        <td>555 77 855</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="row">
            <div class="header mt-xxl-5">
                <table class="table table-hover text-right" dir="rtl">
                    <thead>
                    <tr>
                        <th class="text-center" colspan="4">دفترچه سرمایه</th>
                    </tr>
                    <tr>
                        <th>ردیف</th>
                        <th>تاریخ ثبت پرداخت</th>
                        <th>افزایش سرمایه</th>
                        <th>سرمایه در صندوق</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item, increase in context.users %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td dir="ltr">{{ item.0|convert_date_persian }}</td>
                            <td>{{ item.1|intcomma }}</td>
                            <td>{{ increase|intcomma }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                {% if context.users.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if context.users.has_previous %}
                            <li class="page-item">
                                <a class="page-link" tabindex="-1"
                                   href="?page={{ context.users.previous_page_number }}">قبلی</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">قبلی</a>
                            </li>
                        {% endif %}

                        {% for i in context.users.paginator.page_range %}
                            {% if context.users.number == i %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ i }}
                                        <span class="sr-only">(current)</span></a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if context.users.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ context.users.next_page_number }}">بعدی</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">بعدی</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>


        </div>
        <div class="row">
            <div class="header mt-xxl-5">
                <table class="table table-hover text-right" dir="rtl">
                    <thead>
                    <tr>
                        <th class="text-center" colspan="4">دفترچه اقساط</th>
                    </tr>
                    <tr>
                        <th>ردیف:</th>
                        <th>تاریخ ثبت پرداخت قسط:</th>
                        <th>مبلغ قسط:</th>
                        <th>باقیمانده قسط:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>123</td>
                        <td>123</td>
                        <td>123</td>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}