{% extends "base.html" %}
{% load humanize %}
{% block title %}تراکنش{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="mt-xxl-5">
                <table class="table table-hover text-right" dir="rtl">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">شماره گروه</th>
                        <th scope="col">نام و نام خانوادگی</th>
                        <th scope="col">مقدار سرمایه</th>
                        <th scope="col">وام</th>
                        <th scope="col">نام پرداخت کننده</th>
                        <th scope="col">سرمایه کل</th>
                        <th scope="col">ذخیره اطلاعات</th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for form in formset %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ form.member.group_id }}</td>
                                <td>{{ form.member }}</td>
                                <td dir="ltr"><input type="text" name="fund" value="{{ form.trans.Fund|intcomma }}">
                                </td>
                                <td dir="ltr"><input type="text" name="loan_p" value="{{ form.trans.loan_p|intcomma }}">
                                </td>
                                <td><input type="text" name="payer_name" value="{{ form.trans.payer_name|intcomma }}"></td>

                                <td>{{ form.trans.total_capital|intcomma }}</td>
                                <td>
                                    <input type="hidden" name="pk" value="{{ form.member.id }}">
                                    <input class="btn btn-success" type="submit" value="ثبت">
                                </td>
                            </tr>
                        </form>

                    {% endfor %}


                    </tbody>
                </table>
            </div>

        </div>
    </div>


{% endblock %}