{% extends "base.html" %}
{% load humanize %}
{% block title %}تراکنش{% endblock %}

{% block content %}
    <div class="container" dir="rtl">
        <div class="row mt-4">
            <div class="col-3 mt-3">
                <span class="alert alert-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-calendar3" viewBox="0 0 16 16">
  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
</svg>
                {{ date_now }}
              </span>
            </div>
            <div class="col-9">
                <div class="card">
                    <div class="card-body text-center text-bg-info ">
                        <b>جلسه صندوق {{ session_cash }}</b>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr class="m-4">
    <div class="container">
        <div class="row">

            <div class="mt-xxl-5">
                <table class="table table-hover text-right" dir="rtl">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">شماره گروه</th>
                        <th scope="col">نام و نام خانوادگی</th>
                        <th scope="col">مقدار سرمایه</th>
                        <th scope="col">وام</th>
                        <th scope="col">نام پرداخت کننده</th>
                        <th scope="col">جمع پرداختی</th>
                        <th scope="col">جمع پرداختی گروه</th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for form in formset %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ form.member.group_id }}</td>
                                <input type="hidden" name="group_id{{ forloop.counter }}"
                                       value={{ form.member.group_id }}>
                                <td><a class="text-decoration-none text-black"
                                       href="{% url 'account_detail' form.member.id %}"
                                       target="_blank"
                                >{{ form.member }}</a></td>
                                <td dir="ltr"><input type="text" name="fund[]" value="{{ form.trans.Fund }}">
                                </td>
                                <td dir="ltr">
                                    <span data-bs-toggle="tooltip" title="تعداد قسط باقیمانده از وام"
                                          class="badge text-bg-danger rounded-pill">3</span>
                                    190,000
                                    <input type="hidden" name="load{{ forloop.counter }}" value="190000">
                                </td>
                                <td><input type="text" name="payer_name" value="{{ form.trans.payer_name }}">
                                </td>
                                <td class="total{{ forloop.counter }}"></td>
                                <td class="totalk{{ form.member.group_id }}"></td>
                            </tr>
                        </form>

                    {% endfor %}


                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <hr class="m-4">

    <div class="container" dir="rtl">
        <div class="row align-items-end">
            <div class="col-2">
                <b>مانده از {{ remaining_cash }}:</b>
                <input class="col-12 az_month" name='az_month' type="text" value="435000000">

            </div>
            <div class="col-3">
                <fieldset class="reset">
                    <legend class="reset">سرمایه جمع شده</legend>
                    <span class="kol"></span> ریال
                </fieldset>
            </div>
            <div class="col-3">
                <fieldset class="reset">
                    <legend class="reset">سرمایه کل</legend>
                    <span class="koll"></span> ریال
                </fieldset>
            </div>
            <div class="col-4">
                <a class="text-decoration-none text-black"
                                       href="{% url 'choice_loan' %}"
                                       target="_blank"
                                >
                <button style="height: 53px" type="button" class="col-12 btn btn-success">بستن ماه</button>
                </a>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function ($) {
            calculator()
            $("input[name='fund[]']").keyup(function () {
                calculator()
            })
            $("input[name='az_month']").keyup(function () {
                calculator()
            })

        })

        function calculator() {
            var c = 0
            var seen = []
            var dicts = {}
            var kol = 0
            $("input[name='fund[]']").each(function () {
                c += 1
                var f = $(this).val()
                var l = $("input[name='load" + c.toString() + "']").val()
                var g = $("input[name='group_id" + c.toString() + "']").val()
                var t = Number(l) + Number(f)

                if (jQuery.inArray(g, seen) > -1) {
                    dicts[g] += Number(t)
                } else {
                    seen.push(g)
                    dicts[g] = Number(t)
                }
                $('.total' + c).html(t.toLocaleString())
            });

            for (var i in dicts) {
                $(".totalk" + i).html(dicts[i].toLocaleString())
                kol += dicts[i]
            }
            $('.kol').html(Number(kol).toLocaleString())
            var az_month = $(".az_month").val()
            $('.koll').html((Number(kol) + Number(az_month)).toLocaleString())


        }
    </script>
{% endblock %}