{% extends "base.html" %}
{% load humanize %}
{% block title %}تراکنش{% endblock %}

{% block content %}
    <div class="container" dir="rtl">
        <div class="row mt-4">
            <div class="col-3 mt-3">
                <span class="alert alert-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-calendar3" viewBox="0 0 16 16">
  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
</svg>
                {{ date_now }}
              </span>
            </div>
            <div class="col-9">
                <div class="card">
                    <div class="card-body text-center text-bg-info ">
                        <b>جلسه صندوق {{ session_cash }}</b>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr class="m-4">
    <div class="container">
        <div class="row">

            <div class="mt-xxl-5">
                <table class="table table-hover text-right" dir="rtl">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">شماره گروه</th>
                        <th scope="col">نام و نام خانوادگی</th>
                        <th scope="col">مقدار سرمایه</th>
                        <th scope="col">وام</th>
                        <th scope="col">نام پرداخت کننده</th>
                        <th scope="col">سرمایه کل</th>
                        <th scope="col">ذخیره اطلاعات</th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for form in formset %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ form.member.group_id }}</td>
                                <td><a class="text-decoration-none text-black"
                                       href="{% url 'account_detail' form.member.id %}"
                                       target="_blank"
                                >{{ form.member }}</a></td>
                                <td dir="ltr"><input type="text" name="fund" value="{{ form.trans.Fund|intcomma }}">
                                </td>
                                <td dir="ltr"><input type="text" name="loan_p" value="{{ form.trans.loan_p|intcomma }}">
                                </td>
                                <td><input type="text" name="payer_name" value="{{ form.trans.payer_name|intcomma }}">
                                </td>

                                <td>{{ form.trans.total_capital|intcomma }}</td>
                                <td>
                                    <input type="hidden" name="pk" value="{{ form.member.id }}">
                                    <input class="btn btn-success" type="submit" value="ثبت">
                                </td>
                            </tr>
                        </form>

                    {% endfor %}


                    </tbody>
                </table>
            </div>

        </div>
    </div>


{% endblock %}