<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ذخیره موفق
                        اطلاعات</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="msg"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">بستن
                    </button>
                </div>
            </div>
        </div>

        {% if successful_submit %}
            {% for message in messages %}
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#id_group_id').attr('value', '');
                        $('#id_name').attr('value', '');
                        $('#id_family').attr('value', '');
                        $("#msg").html("{{ message }}");
                        $("#exampleModal").modal('show');
                    });
                </script>
            {% endfor %}
        {% endif %}
</div>